<%- include('../includes/head'); %>
<%- include('../includes/nav'); %>

<main class="global-lp">
  <div class="columns is-multiline">
    <%- include('../includes/messages'); %>
    <div class="column is-12 mt-3">
      <h1 class="is-size-3 has-text-centered">Contatos</h1>
      <p class="has-text-centered">Cadastre ou edite contatos abaixo!</p>
    </div>
  </div>
  <section class="container contact-container">
    <form action="/login/new" method="post">
      <input type="hidden" name="_csrf" value=<%= csrfToken %> >
      <div class="columns is-multiline is-mobile login">
        <div class="column is-12">
          <label for="nome" class="label">Nome:</label>
          <input type="text" class="input" name="name" id="nome" required>
        </div>
        <div class="column is-12">
          <label for="sobrenome" class="label">Sobrenome:</label>
          <input type="text" class="input" name="second_name" id="sobrenome" required>
        </div>
        <div class="column is-12">
          <label for="email" class="label">Email:</label>
          <input type="email" class="input" name="email" id="email"  required>
        </div>
        <div class="column is-12">
          <label for="telefone" class="label">Telefone:</label>
          <input type="email" class="input" name="telefone" id="telefone"  required>
        </div>
        <div class="column is-12">
          <button class="button is-fullwidth is-success" type="submit">Salvar</button>
        </div>
      </div>
    </form>
  </section>
</main>

<style>
  .contact-container {
    max-width: 35rem !important;
  }
</style>

<%- include('../includes/footer'); %>